{% extends 'pages/base.html'%}
{%load static%}

{%block title%} Homepage {%endblock%}

{%block content%}
    <div class="sign-up">
        <div class="container">
            <h2>Sign up</h2>
            <form action="." method="post">
                {% csrf_token %}
                <label for="">Username</label>
                <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_username" required>
                <label for="">Firstname</label>
                <input type="text" name="fname" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_fname" required>
                <label for="">Lastname</label>
                <input type="text" name="lname" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_lname" required>
                <label for="">Email</label>
                <input type="text" name="email" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_email" required>
                <label for="">Password</label>
                <input type="password" name="pass1" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_pass1" required>
                <label for="">Confirm Password</label>
                <input type="password" name="pass2" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" id="id_pass2" required>
                <button type="submit">Login</button>
            </form>
         </div>
     </div>
{%endblock%}